#current-weather-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* CurrentWeather TopDiv */
#current-weather-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-color: skyblue;
  position: relative;
  border-bottom: thin solid #F3A97F;
}

#current-temperature {
  font-family: 'Fredoka One', cursive;
  font-size: 10vh;
  color: #F3A97F;
  text-shadow: 0px 0px 5px #F3E77F;
  margin-left: 1%;
}


/* CurrentWeather Icon */
#current-weather-sunny {
  width: 25vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  z-index: 2;
  justify-content: stretch;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #F3E77F;
  border: thin solid #F3A97F;
  border-radius: 50%;
  box-shadow: 0px 0px 50px #F3E77F;
}

/* Current Weather Bottom */
#current-weather-water {
  height: 50vh;
  width: 100vw;
  /* background-color: #527B8D; */
  position: relative;
  z-index: 3;

  background: radial-gradient(ellipse farthest-corner at top center, #f3e77f 0%, #527b8d 40%);
  background: -webkit-radial-gradient(ellipse farthest-corner at top center, #f3e77f 0%, #527b8d 20%);
  background: -moz-radial-gradient(ellipse farthest-corner at top center, #f3e77f 0%, #527b8d 20%);
}

#current-weather-sand {
  width: 100vw;
  height: 90%;
  position: absolute;
  bottom: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff6ce;
  background: linear-gradient(179deg,#fff6ce 0%, #c49e7a 80%);
  background: -webkit-linear-gradient(179deg,#fff6ce 0%, #c49e7a 80%);
  background: -moz-linear-gradient(179deg,#fff6ce 0%, #c49e7a 80%);
}

/* CurrentWeather Nav Buttons */
#current-weather-info-container {
  height: 90%;
  width: 90%;
  position: absolute;
  display: flex;
  flex-flow:  row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.current-weather-nav-btn {
  border: 2px solid black;
  background-color: sandybrown;
  width: 40vw;
  height: 20%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  font-size: 5vw;
}


